<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <title>Space Ipsum</title>
  </head>
  <body class="bg-black text-white">
  
  <div class="main container mx-auto">
    <header class="text-center mt-8 audiowide">
      <a class="text-4xl" href="/">Space Ipsum</a>
      <p class="text-xl italic">An outer-space inspired Lorem Ipsum generator</p>
    </header>

    {% highlight "text" %}
      {{ content | safe }}
    {% endhighlight %}
    <div class="text-center">
      <a href="/random" class="btn">Show Me Another!</a>
    </div>
  </div>
  
  </body>
</html>